


 .v{
height: 40px;
width: 110px;
background-color: red;
color: white;
font-size: 19px;
margin-top: 20px;
margin-left: 20px;
} 

.viewal img{
    
    height:370px;
    width: 250px;
    margin-left: 80px;
    margin-top: 40px;
}  
.tex{
text-decoration: underline;
    height:370px;
    width: 700px;
    margin-top: -372px;
    margin-left: 430px;
    border: 2px solid black;
} 

.adds{
       margin-left: 1040px;
    margin-top: 218px;
    }
    .as{
        font-size: 18px;
    }
    .as:hover{
        background-color: red;
    } 
 .upd{
   
   height: 70px;
   width: 170px;
   margin-left: 1200px;
   margin-top: -160px;
   background-color: grey;

} 
 .bd:hover{
    background-color: red;

}
.bd{
    height: 70px;
    width: 170px;
    font-size: 18px;

} 

.fotter{
    margin-top: 1000px;
}
 