.btn {
    padding: 13px;
    color: blue;
    border: 2px inset blue;
    background-color:white;
    font-size: 18px;
    border-radius: 14px;
  }
  
  .btn:hover {
    color: white;
    border: 2px inset ;
    background-color:blue;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
  }